__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.pytest_cache/
.ruff_cache/
.DS_Store
.mypy_cache/
.coverage
.coverage.*
htmlcov/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
.tox/
.nox/
*.log
*.sqlite
*.sqlite3
*.db
.env
